<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Template HTML</title>

<style>
html, body, td, div {
	font-family: arial, sams-serif;
	font-size: 10pt;
}

.greet, .text {
	margin: 1em, 0;
}

table, th, td {
	border-collapse: collapse;
	width: 800px;
	text-align: left;
	padding: 4px 8px;
	border: 1px solid #CCC;
}

th {
	background-color: #F8F8FF;
}
</style>
</head>
<body>

	<div class="greet">Dear <@name@>,</div>

	<div class="text">Please find the attach attachment.</div>

	<div class="text">
		Regards, <br /> Admin
	</div>

	<p>
		*This is a system generated message. Please do not reply. <br />
		DISCLAIMER: The information in this email (and any attachments) is
		confidentail. If you are not the intended recipient of this email,
		please delete without copying and kindly advise us by email of the
		mistake in delivery immediately. Any disclosure, copying, distribution
		or any action taken in reliance on this email is prohibited and may be
		unlawful.
	</p>
</body>
</html>